body {
  background-color: #DCD9C8;
}

#x_result, #y_result {
  display: inline-block;
  /*text-align: center;*/
  font-family: Consolas;
  padding: 0 40px 0 10px;
}

#x_y {
  font-family: Monaco;
  font-size: 10px;
  /*margin-left: 15px;*/
}

#container {
  height: 0px;
  width: 180px;
  text-align: center;
  /*border: solid black;*/
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*clear: right;*/
}

#name {
  /*font-family: Consolas;*/
  text-align: left;
  font-size: 15px;
  color: #bababa;
  background-color: #303030;
  float: right;
  width: 390px;
  height: 270px;
  margin: 40px 32px 0 0;
  padding: 0px 10px 10px 10px;
}

.var {
  color: #db85db;
}

.string {
  color: #b2d75e;
}

.equals {
  color: #4997D0;
}

.red {
  color: #FF6666;
}

.orange {
  color: #eec54f;
}

a {
  text-decoration: none;
  color: inherit;
}

#sun {
  height: 350px;
  width: 350px;
  background-color: #eacc2e;
  background-color: #eec54f;
  float: left;
  z-index: -1;
  position: absolute;
  border-radius: 200px;
  margin: 125px 0 0 220px;
}

.rainbow {
  height: 20px;
  width: 20px;
  border-radius: 0 85px 8px 0;
}

#one {
  background-color: #B57F63;
  height: 70px;
  width: 180px;
}
#two {
  background-color: #B77567;
  height: 101px;
  width: 290px;
}
#three {
  background-color: #9C6B67;
  height: 70px;
  width: 390px;
}
#four {
  background-color: #B17380;
  height: 80px;
  width: 685px;
}
#five {
  background-color: #906378;
  height: 51px;
  width: 785px;
}
#six {
  background-color: #B17380;
  height: 60px;
  width: 875px;
}
#seven {
  background-color: #7d798d;
  height: 15px;
  width: 890px;
  border-radius: 0 85px 0px 0;
}
#eight {
  background-color: #6F6B81;
  border-radius: 0;
  height: 80px;
  width: 100%;
}
#nine {
  background-color: #3E495D;
  border-radius: 0;
  height: 130px;
  width: 100%;
}
