body {margin: 0;}

#name {
  text-align: left;
  font-size: 15px;
  color: #bababa;
  background-color: #303030;
  float: right;
  width: 390px;
  height: 270px;
  margin: 40px 32px 0 0;
  padding: 0px 10px 10px 10px;
}

.var {color: #db85db;}
.string {color: #b2d75e;}
.equals {color: #4997D0;}
.red {color: #FF6666;}
.orange {color: #eec54f;}
a {text-decoration: none; color: inherit;}

#sun {
  height: 250px;
  width: 250px;
  background-color: #eec54f;
  float: left;
  border-radius: 200px;
  margin: 140px 0 0 320px;
}
#container {
  height: 100%;
  width: 100%;
}
.rainbow {
  border-radius: 0 85px 8px 0;
  position: relative;
}
#above {
  width: 100%;
  height: 67vh;
  background-color: rgb(219, 218, 200);
}
#one {
  background-color: #D48260;
  height: 17%;
  width: 15%;
}
#two {
  background-color: #D57867;
  height: 20%;
  width: 22%;
}
#three {
  background-color: #B56B62;
  height: 21%;
  width: 30%;
}
#four {
  background-color: #D07587;
  height: 16%;
  width: 55%;
}
#five {
  background-color: #A8627C;
  height: 12%;
  width: 60%;
}
#six {
  background-color: #A06F8F;
  height: 11%;
  width: 67%;
}
#seven {
  background-color: #875E79;
  height: 3%;
  width: 68%;
  border-radius: 0 85px 0px 0;
}
#eight {
  background-color: #766E86;
  border-radius: 0;
  height: 33%;
  width: 100%;
}
#nine {
  background-color: #313D55;
  border-radius: 0;
  height: 67%;
  width: 100%;
}
#below {
  width: 100%;
  height: 33vh;
  background-color: blue;
}
